@{
    ViewBag.Title = "Henkilot";
}

@section scripts {
    <script type="text/javascript">
        function päivitäListaus() {
            $.getJSON("/Oma/getlisthenkilot", null, function (json) {
                var henkilot = JSON.parse(json);
                var html = "";
                for (var i = 0; i < henkilot.length; i++) {
                    html += "<tr>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-pencil'></span></a></td>" +
                        "<td>" + henkilot[i].HenkiloId + "</td>" +
                        "<td>" + henkilot[i].Identity + "</td>" +
                        "<td>" + henkilot[i].Etunimi + "</td>" +
                        "<td>" + henkilot[i].Sukunimi + "</td>" +
                        "<td>" + henkilot[i].Osoite + "</td>" +
                        "<td>" + henkilot[i].Esimies + "</td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-trash'></span></a></td>" +
                        "</tr>\r\n";
                }

                $("#henkilotList tbody").html(html);

                // tietojen muokkaus
                $(".glyphicon-pencil").click(function () {
                    // etsitään tiedot klikatulta riviltä
                    var henkiloId = $(this).parent().parent().next().text();

                    // haetaan tiedot id:n perusteella
                    $.getJSON("/Oma/getsinglehenkilo/" + henkiloId, null, function (json2) {
                        var henkilo = JSON.parse(json2);

                        // kopioidaan tiedot ikkunaan
                        $("#henkiloModal_HenkiloId").val(henkilo.HenkiloId);
                        $("#henkiloModal_Identity").val(henkilo.Identity);
                        $("#henkiloModal_Etunimi").val(henkilo.Etunimi);
                        $("#henkiloModal_Sukunimi").val(henkilo.Sukunimi);
                        $("#henkiloModal_Osoite").val(henkilo.Osoite);
                        $("#henkiloModal_Esimies").val(henkilo.Esimies);

                        // näytetään ikkuna
                        $("#henkiloModalTitle").text("Muokkaa henkilöä");
                        $("#henkiloModalDialog").modal("show");
                    });
                });

                // tietojen poistaminen
                $(".glyphicon-trash").click(function () {
                    var henkiloId = $(this).parent().parent().prev().prev().prev().prev().prev().prev().text();
                    var ok = confirm("Haluatko varmasti poistaa henkilön " + henkiloId + "?");

                    if (ok == true) {
                        $.getJSON("/Oma/deletehenkilo/" + henkiloId, null, function (status) {
                            if (status == true) {
                                //alert("Henkilö on poistettu.");
                                päivitäListaus();
                            }
                            else {
                                alert("Poisto ei onnistunut, yritä uudelleen!");
                            }
                        });
                    }
                });
            });
        }

        // sivun alustaminen
        $(function () {
            päivitäListaus();

            $("#addNewhenkiloButton").click(function () {

                // tyhjennetään ikkunan tiedot
                $("#henkiloModal_HenkiloId").val("0");
                $("#henkiloModal_Identity").val("");
                $("#henkiloModal_Etunimi").val("");
                $("#henkiloModal_Sukunimi").val("");
                $("#henkiloModal_Osoite").val("");
                $("#henkiloModal_Esimies").val("");
                
                $("#henkiloModalTitle").text("Lisää uusi henkilö");
                $("#henkiloModalDialog").modal("show");
            });

            $("#henkiloModalSaveButton").click(function () {
                // luetaan käyttäjän syöttämät kentät
                var details = {
                    henkiloId: $("#henkiloModal_HenkiloId").val(),
                    Identity: $("#henkiloModal_Identity").val(),
                    Etunimi: $("#henkiloModal_Etunimi").val(),
                    Sukunimi: $("#henkiloModal_Sukunimi").val(),
                    Osoite: $("#henkiloModal_Osoite").val(),
                    Esimies: $("#henkiloModal_Esimies").val()
                };

                $.post("/oma/updatehenkilo/", details, function (status) {
                    if (status == true) {
                        //alert("Uudet tiedot tallennettu!");
                        $("#henkiloModalDialog").modal("hide");
                        päivitäListaus();
                    }
                    else {
                        alert("Tallennus ei onnistunut, yritä uudelleen!");
                    }
                });
            });
        });
    </script>
}

<h2>Henkilöt</h2>

<button class="btn btn-primary" id="addNewhenkiloButton">Lisää uusi</button>

<table class="table table-striped" id="henkilotList">
    <thead>
        <tr>
            <th></th>
            <th>Henkilö-Id</th>
            <th>Identity</th>
            <th>Etunimi</th>
            <th>Sukunimi</th>
            <th>Osoite</th>
            <th>Esimies</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="henkiloModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="henkiloModalTitle">Muokkaa henkilöä</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">Henkilö-id</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_HenkiloId" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Identity</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Identity" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Etunimi</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Etunimi" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Sukunimi</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Sukunimi" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Osoite</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Osoite" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Esimies</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Esimies" type="text"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                <button type="button" class="btn btn-primary" id="henkiloModalSaveButton">Tallenna</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->